#newItemForm {
  width: 100%;
  margin-top: 10px;
}

input {
  width: 50%;
}

input[type="submit"] {
  -webkit-appearance: none;
  height: 2em;
  margin-top: 15px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bolder;
}

input[type="text"] {
  height: 2em;
}
