#TodoList {
  margin: 0 auto;
  width: 1000px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#TodoList p {
  color: white;
  flex-basis: 70%;
  margin: 0 auto;
}

#TodoList button {
  flex-basis: 15%;
}

.listDisplay {
  display: block;
}
